/* BOX GRADIENTS */
.bc-gradient-grey,
.bc-gradient-red,
.bc-gradient-green {
	-webkit-box-shadow: 0px 1px 1px 0px #ffffff;
	-moz-box-shadow: 0px 1px 1px 0px #ffffff;
	box-shadow: 0px 1px 1px 0px #ffffff;
}
.bc-gradient-green {
	background: #75b505; /* Old browsers */
	background: -moz-linear-gradient(top,  #75b505 0%, #539000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75b505), color-stop(100%,#539000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75b505 0%,#539000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75b505 0%,#539000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75b505 0%,#539000 100%); /* IE10+ */
	background: linear-gradient(top,  #75b505 0%,#539000 100%); /* W3C */
	border-color: #6CA521;
	color: #fff;
}
.bc-gradient-green:hover {
	background: #75B505;
	color:#eee
}
.bc-gradient-grey {
	background: #ffffff url("") 0 50% repeat-x; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* W3C */
	border: 1px solid #CCCCCC;
	color: #444;
}
*html .bc-gradient-grey { /* ie < 7 */
	background: #ffffff url("") 0 50% repeat-x;
}
.bc-gradient-grey:hover {
	background: #ffffff;
}
.bc-gradient-grey-disabled, .bc-gradient-grey-disabled:hover {
	background:#ccc;
	color:#666;
	border-color:#ccc;
	cursor: default!important;
}
.bc-gradient-red {
	background: #AB0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #D30000 0%, #AB0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D30000), color-stop(100%,#AB0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #D30000 0%,#AB0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #D30000 0%,#AB0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #D30000 0%,#AB0000 100%); /* IE10+ */
	background: linear-gradient(top,  #D30000 0%,#AB0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D30000', endColorstr='#AB0000',GradientType=0 ); /* IE6-8 */
	border: 1px solid #AB0000;
	color: #fff;
}
.bc-gradient-red:hover {
	background: #D30000;
}
.bc-gradient-white {
	padding:1px 15px !important;
	border:0 none;
	background: rgb(250,250,250); /* Old browsers */
	background: url("");
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 42%, rgba(229,229,229,1) 56%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(42%,rgba(250,250,250,1)), color-stop(56%,rgba(229,229,229,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 42%,rgba(229,229,229,1) 56%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 42%,rgba(229,229,229,1) 56%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 42%,rgba(229,229,229,1) 56%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 42%,rgba(229,229,229,1) 56%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}
.ie9 .bc-gradient-white,
.ie9 .bc-gradient-green,
.ie9 .bc-gradient-grey {
	filter:none
}

/*TEXT*/
.bc-input {
	display: inline-block;
}
.bc-input-text--input,
.bc-input-password--input {
	color: #444;
	border-color: #CCC;
	display: inline;
	border-width: 1px 1px 1px 4px;
	border-style: solid;
	padding: 4px;
}
.bc-input-text--field,
.bc-input-password--field {
	display: inline;
}
/*.bc-input-text--input.error,
.bc-input-password--input.error {
	border-left: 4px solid #f00;
}
.bc-input-text--input.valid,
.bc-input-password--input.valid {
	border-left: 4px solid #7FB735;
}
*/
/*CHECKBOX*/
.bc-input-checkbox--field {
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url("");
	vertical-align: middle;
	cursor: pointer;
	background-position: -38px -138px;
}
.bc-input--checked .bc-input-checkbox--field {
	background-position: -38px -158px;
}

/*RADIO*/
.bc-input-radio--field {
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url("");
	vertical-align: middle;
	cursor: pointer;
	background-position: -38px -19px;
}
.bc-input--checked .bc-input-radio--field {
	background-position: -38px -39px;
}
.bc-input-radio--label {
	display: block;
	white-space: nowrap;
	zoom: 1;
}
/*RADIO-GROUP*/
.bc-radio {
	font-size: 12px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	cursor: pointer;
	display: inline-block;
	margin: 0 3px 0 3px;
	padding: 0px 0px 0px 0px;
	line-height: 17px;
	white-space: nowrap;
	position: relative;
	zoom: 1;
}.bc-icn {
	height: 20px;
	width: 20px;
	vertical-align: middle;
	display: inline-block;
	background: url("") no-repeat;
	zoom: 1;
	*display: inline; /* IE < 8: fake inline-block */
}

.bc-roundcorner-5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.bc-roundcorner-8 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}
.bc-select-open .bc-roundcorner-5 {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.bc-select-up .bc-roundcorner-5 {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
.bc-select-open .bc-gradient-grey {
	background-image: none;
}

.bc-select .bc-dd-arrow .bc-triangle {background-position:-80px -272px;}
.bc-select-open .bc-dd-arrow .bc-triangle {background-position:-80px -312px;}
.bc-select {
	font-size: 12px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	cursor: pointer;
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 0px 0px 0px 0px;
	line-height: 17px;
	white-space: nowrap;
	position: relative;
	*display:inline; zoom:1; /*IE7*/
}
.bc-select--select {
	display: none;
}
.bc-select--list {
	margin: 0px;
	padding: 0px 0px 1px 10px;
	overflow:hidden;
	list-style: none;
}
.bc-select .bc-dd-arrow {
	padding-left: 4px;
	margin-left: 6px;
	display: inline-block;
}

/*DROPDOWN*/
.bc-select--dropdown {
	display: none;
}
.bc-select-up .bc-select--dropdown {
	bottom: 24px;
}
.bc-select-up .bc-shadow {
	-webkit-box-shadow: 2px -1px 2px rgba(0,0,0,.3);
	-ms-box-shadow: 2px -1px 2px rgba(0,0,0,.3);
	box-shadow: 2px -1px 2px rgba(0,0,0,.3);
}
.bc-select-open .bc-select--dropdown {
	display: block;
	position: absolute;
	width: 102%;
	border: 4px solid #AAA;
	background-color: #FFF;
	padding: 2px 0px;
	left: -6px;
	z-index: 1;

	overflow: auto;
	max-height: 125px;
}
.bc-select-open .bc-gradient-grey:hover {
	background: #AAA;
}

.bc-option {
	padding:3px 0;
	overflow-x: hidden !important;
}
.bc-option {
	color: #444;
	padding: 4px 8px;
	cursor: pointer
}
.bc-option-selected {
	background-color: #EEEEEE;
	color: #4E8E0F;
	cursor: default;
	font-weight: bold;
}
.bc-option:hover {
	color: #480;
	background-color: #eee;
}

.bc-select:hover .bc-select--label {
	color: #508F11;
}
.bc-select-open:hover .bc-select--list .bc-select--label {
	color: #FFF;
}
.bc-select-open .bc-select--list,
.bc-select-open .bc-select--label {
	color: #FFF;
	background-color: #AAA;
	border-color: #AAA;
	background-image: none;
}
.bc-select--label {
	display:inline-block;
	color: #444;
	line-height: 21px;
	float:left;
	overflow: hidden;
	text-overflow: ellipsis;

	min-width: 200px; /* plz change.. */
	max-width: 200px; /* plz change.. */
}

.bc-switch {
	display: inline-block;
}
.bc-toggle-switch {
	width: 57px;
	height: 20px;
	position: relative;
	display: inline-block;
	margin: 3px 3px 3px 3px;
	padding: 0;
	vertical-align: top;
	overflow: hidden;
}
.bc-toggle-switch .bc-label {
	cursor: pointer;
	outline: none;

	display: block;
	overflow: hidden;
	/*position: relative;
	top: 0;
	left: 0;
	*/
	width: 57px;
	height: 18px;
	background: url("") -39px -18px no-repeat;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.bc-toggle-switch input {
	visibility: hidden;
	height: 0;
}
.bc-toggle-mask {
	display: block;
	/*margin-top: -16px;
	position: relative;
	top: 0;
	left: 0;*/
	background: url("") 0 0 no-repeat;
	width: 57px;
	height: 18px;
	overflow: hidden;
}
/*
.bc-toggle-switch .bc-label.bc-toggle-checked {
	background-position: 0 -18px;
}
*/
.bc-switch--checked .bc-toggle-switch .bc-label {
	background-position: 0 -18px;
}


.ie8minus .bc-toggle-switch, .ie8minus .bc-toggle-switch .bc-label {
	overflow: visible;
}
.ie8minus .bc-toggle-switch input {
	visibility: visible;
	position: absolute;
	left: -999em;
	outline: none;
}
.bc-whiteWrapper .bc-toggle-mask {
	background: url("") 0 0 no-repeat;
}
.bd-grey-toggle .bc-toggle-switch .bc-label  {
	background: url("") -39px -18px no-repeat;
}
/*
.bd-grey-toggle .bc-toggle-switch .bc-label.bc-toggle-checked {
	background-position: 0 -18px;
}
*/
.bc-switch--checked .bd-grey-toggle .bc-toggle-switch .bc-label {
	background-position: 0 -18px;
}
.bd-grey-toggle .bc-toggle-mask {
	background: url("") 0 0 no-repeat;
}
