/*!
 *	----------------------------------------------------------------
 *	Copyright Backbase b.v. 2003/2012
 *	All rights reserved.
 *	----------------------------------------------------------------
 *	Version 5.5
 *	Author : Backbase R&D - Amsterdam - New York
 *	----------------------------------------------------------------
 */

.bp-container {
    position:relative;
    z-index:0;
}
.bp-area {
    position:relative;
}
.bp-widget {
    position:relative;
}

/* Pref Pane */
.bp-pref-table {
    table-layout: fixed;
    position: relative;
}
.bp-pref-td {
    padding-right:4px;
}
.bp-pref-text {
    width:240px;
}
.bp-container-pref {
    display:none;
}

.bp-gradient1 {
    background-color: #EEEEEE;
    background: -moz-linear-gradient(center top , #FFFFFF 0pt, #EEEEEE 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #EEEEEE) );
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEEEEE', GradientType=0 );
    background: linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
}

/* Generic */

.bp-align-top {
    vertical-align: top;
}
.bp-table {
    table-layout: fixed;
    width: 100%;
}

.bp-container-grip {
    background: url("") no-repeat scroll 0 0 transparent;
    top:0px;
    left:0px;
    height: 19px;
    position: absolute;
    width: 8px;
    z-index: 1000;
}
.bp-drag-indicator {
    position:relative;
    padding:5px;
}
.bp-drag-indicator-in {
    position:relative;
    border:3px dashed #f1f1f1;
    min-height:80px;
    max-height:80px;
    _height:80px;
    border-radius: 8px;
    text-align: center;
    border: 1px dashed #939393;

    background:#f1f1f1 url("") no-repeat center 55%;
}
.bp-WrapLineLayout .bp-drag-indicator-in{
    float: left;
    width:200px;
}
.bp-manageableArea-masterpage .bp-drag-indicator-in {
	/* background-color: #c6dab2; */
	background-color: #bad0a8;
	background-image: url("");
	background-position: 50% 50%;
    background-repeat: no-repeat;
}
.bp-manageableArea-masterpage .bp-drag-text {
    color: #226600;
    text-shadow: 1px 1px 0px #ddffdd;
}
.bp-drag-text {
    display:block;
    color:#939393;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #f0f0f0;
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
    margin-top:50px;
}

.bp-absolute {
    position:absolute!important;
}

