/* Start Page Dashboard */
::selection {
    background-color: #000 !important;
    color: #FFF!important;
}

body {
    background-color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Start Nav Bar */
nav {
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 2px solid #FFF;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 20px 15px;
}

nav .content-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #000;
    position: relative;
}

@media (max-width:960px) {
    nav .content-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

nav .content-nav h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    font-size: 18px;
    text-align: center;
}

@media (max-width:960px) {
    nav .content-nav h3 {
        width: 100%;
    }
}

nav .content-nav h3 img {
    width: 50px;
    margin-right: 10px;
}

nav .content-nav .parent-buttons-setting {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:960px) {
    nav .content-nav .parent-buttons-setting {
        width: 100%;
        display: none;
        flex-direction: column !important;
        margin-top: 20px !important;
    }

    .show-menu {
        display: flex !important; 
    }
}

nav .content-nav .parent-buttons-setting .buttons-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #607D8B;
    outline: 0px;
    height: 50px;
    padding: 10px;
    background-color: #607D8B;
    color: #FFF;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
    transition: 0.2s;
    text-decoration: none !important;
    cursor: pointer !important;
}


@media (max-width:960px) {
    nav .content-nav .parent-buttons-setting .buttons-settings {
        width: 100%;
        margin-left: 0px !important;
        margin-bottom: 10px !important;
    }
}

nav .content-nav .parent-buttons-setting .buttons-settings i {
    font-size: 20px;
    margin-right: 10px;
}

nav .content-nav .parent-buttons-setting .buttons-settings:hover {
    background-color: #000;
    color: #fff;
    border-color: #FFF;
}

nav .content-nav .button-menu {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #607D8B;
    outline: 0px;
    height: 50px;
    padding: 10px;
    background-color: #607D8B;
    color: #FFF;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
    transition: 0.2s;
}

@media (max-width:960px) {
    nav .content-nav .button-menu {
        display: flex !important;
    }
}

nav .content-nav .button-menu i {
    font-size: 20px;
    margin-right: 10px;
}

nav .content-nav .button-menu:hover {
    background-color: #000;
    color: #fff;
    border-color: #ffffff;
}

/* End Nav Bar */
/* Start Buttons Control User */

.container-buttons-control-user {
    margin-top: 100px;
}

.container-buttons-control-user form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-buttons-control-user form .buttons-control-users {
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    border: 2px solid transparent !important;
    transition: all 0.3s ease-in-out;
    outline: 0px;
    border-radius: 5px;
    width: 222px;
    max-width: 100%;
}

.container-buttons-control-user form .button-valid {
    background-color: #0d6efd;
}

.container-buttons-control-user form .button-valid:hover {
    background-color: transparent !important;
    border: 2px solid #0d6efd !important;
}

.container-buttons-control-user form .button-error {
    background-color: #dc3545;
}

.container-buttons-control-user form .button-error:hover {
    background-color: transparent !important;
    border: 2px solid #dc3545 !important;
}

.container-buttons-control-user form .button-comfirmed {
    background-color: #198754;
}

.container-buttons-control-user form .button-comfirmed:hover {
    background-color: transparent !important;
    border: 2px solid #198754 !important;
}

.container-buttons-control-user form .button-logout {
    background-color: #CDDC39;
}

.container-buttons-control-user form .button-logout:hover {
    background-color: transparent !important;
    border: 2px solid #CDDC39 !important;
}

.container-buttons-control-user .parent-buttons-events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-buttons-control-user .parent-buttons-events .buttons-control-users {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    border: 2px solid transparent !important;
    transition: all 0.3s ease-in-out;
    outline: 0px;
    border-radius: 5px;
    width: 148px;
}

.unique-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.unique-form input {
    width: 222px;
    max-width: 100%;
    margin: auto;
    border-radius: 4px;
    border: 2px solid #FFF;
    color: #FFF;
    background-color: #000;
    padding: 10px;
    outline: 0px;
    caret-color: #FFF;
    font-size: 15px;
    margin-bottom: 10px;
}

/* End Buttons Control User */

/* Start Animation Titles */
@keyframes colorCycle {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: #FFF;
    }
}

.titles {
    animation: colorCycle 5s linear infinite;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

@keyframes colorborder {
    0% {
        border-color: red;
    }
    20% {
        border-color: orange;
    }
    40% {
        border-color: yellow;
    }
    60% {
        border-color: green;
    }
    80% {
        border-color: blue;
    }
    100% {
        border-color: #FFF;
    }
}
/* End Animation Titles */

/* Start Table Information User */

.parent-table {
    height: 308px !important;
    overflow-y: scroll !important;
    margin-bottom: 30px !important;
}

.table {
    color: #FFF !important;
}

.parent-table thead {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.parent-table thead tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.parent-table thead tr th {
    flex: 1;
}

.parent-table thead tr th i {
    font-size: 20px;
    margin-right: 10px;
}

.parent-table .table .dynamic-section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.parent-table .dynamic-section tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.parent-table .dynamic-section tr td{
    flex: 1;
}

/* End Table Information User */
.data {
    width: 100%;
    resize: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    border: 2px solid #fff;
    outline: 0px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 250px;
}

.online {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bold !important;
    font-size: 14px !important;
    border-radius: 10px !important;
    background-color: green !important;
    color: #FFF !important;
    text-align: center !important;
    padding: 10px !important;
}

.offline {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bold !important;
    font-size: 14px !important;
    border-radius: 10px !important;
    background-color: red !important;
    color: #FFF !important;
    text-align: center !important;
    padding: 10px !important;
}
/* End User Data */

/* End Page Dashboard */